.header {
    position: relative;
    width: 100%;
    min-height: 985px;

    background: url("../../assets/images/main-head-bg.jpg") no-repeat center;
    background-color: var(--blackColor);
    background-size: cover;
}

.logo {
    height: 64px;
    padding-top: 15px;
    background: rgba(0, 0, 0, 0.6);
}

.logo-text {
    font-family: "Roboto-Black";
    font-size: 36px;
    color: var(--brightGreyText);
}

.nav-bar-main {
    height: 94px;
    background: var(--grey);
}

.nav-menu {
    display: flex;
}

.nav-menu__item {
    padding-top: 26px;
    margin-right: 84px;

    font-family: "Roboto-Light";
    font-size: 30px;
    color: var(--whiteColor);
}

h1>span {
    font-family: "Roboto-Bold";
}

.search-ticket {
    position: absolute;
    top: 253px;
    right: 0;

    width: 729px;
    height: 574px;
    padding-top: 79px;

    background: rgba(41, 41, 41, 0.8);
}

.header-search-ticket {
    margin-left: 28px;
    margin-bottom: 7px;

    font-family: "Roboto-Light";
    font-size: 30px;

    color: var(--whiteColor);
}

.form-search-ticket {
    margin-bottom: 71px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-ms-expand {
    display: none;
}

input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-input-way,
.search-input-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px;
}

.way-input,
.date-input {
    width: 325px;
    height: 60px;
    padding: 19px;

    font-family: "Roboto-Regular";
    font-size: 18px;

    color: var(--brightGreyText);
    background-color: var(--whiteColor);
    border: 0;
    border-radius: 3px;
}

.way-input {
    background-image: url("../../assets/images/input-way-bg.svg");
    background-repeat: no-repeat;
    background-position: right 15px top 15px;
}

.date-input {
    background-image: url("../../assets/images/input-date-bg.svg");
    background-repeat: no-repeat;
    background-position: right 15px top 15px;
}

.reload-way {
    padding: 18px 8px;
}

.form-serch-button {
    padding-top: 92px;
    padding-right: 24px;

    text-align: right;
}

.serach-ticket-btn {
    width: 323px;
    height: 60px;

    font-family: "Roboto-Bold";
    font-size: 24px;
    text-transform: uppercase;

    color: var(--grey);
    background: var(--orangeColor);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.loading-line {
    height: 8px;

    background-color: var(--orangeColor);
    margin-bottom: 144px;
}