.header {
    position: relative;
    width: 100%;
    min-height: 985px;

    background: url("../../../assets/images/main-head-bg.jpg") no-repeat center;
    background-color: var(--blackColor);
    background-size: cover;
}

h1>span {
    font-family: "Roboto-Bold";
}

.loading-line {
    height: 8px;

    background-color: var(--orangeColor);
    margin-bottom: 144px;
}