.aside-ways {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 33px 10px 37px;
    border-top: 1px solid var(--brightGreyText);
}

.text-aside-ways {
    margin-left: 12px;
    font-family: "Roboto-Bold";
    font-size: 30px;
    color: var(--whiteColor);
}

.ico-more-aside-ways {
    margin-left: auto;
    cursor: pointer;
}

.hidden {
    display: none;
}

.no-hidden {
    display: block;
}


.slider-time-container {
    position: relative;
    width: 294px;
    height: 10px;
    background: #3E3C41;
    border-radius: 8px;
    border: 1px solid var(--mediumGrey);
    margin-top: 20px;
    overflow: visible;
}

.slider-time-container .slider-track {
    position: absolute;
    height: 100%;
    z-index: 1;
    left: 0%;
    width: 100%;
    background-color: var(--orangeColor);
    border-radius: 8px;
    top: 0;
}

.slider-time-container input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    position: absolute;
    background: none;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    margin: 0;
    padding: 0;
    height: 18px;
}

.slider-time-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--whiteColor);
    cursor: pointer;
    pointer-events: auto;
    border: 2px solid var(--whiteColor);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 5;
}

.slider-time-container input[type="range"]::-moz-range-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: var(--whiteColor);
    cursor: pointer;
    pointer-events: auto;
    border: 2px solid var(--whiteColor);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Общие стили */
.slider-values {
    position: relative;
    width: 294px;
    height: 30px;
    margin-top: 10px;
}

.slider-value {
    position: absolute;
    transform: translateX(-50%);
    margin-left: 32px;
    padding-right: 32px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    color: var(--brightGreyText);
    white-space: nowrap;
    top: 10px;
}

.slider-value-second {
    position: absolute;
    transform: translateX(-50%);
    padding-right: 32px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    color: var(--brightGreyText);
    white-space: nowrap;
    top: 10px;
}

.slider-value-end {
    position: absolute;
    display: block;
    right: -35px;
    pointer-events: none;
    margin-left: 32px;
    padding-right: 32px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    color: var(--brightGreyText);
    top: 10px;
}

.price-inputs {
    display: flex;
    justify-content: space-between;
    padding-right: 34px;
    margin-bottom: -10px;
}

.price-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-label {
    font-family: "Roboto-Regular";
    font-size: 18px;
    color: var(--whiteColor);
}

.slider-wrapper {
    margin-bottom: 32px;
}

.ways-times {
    background: transparent;
}

.aside-header {
    font-family: "Roboto-Bold";
    font-size: 30px;
    color: var(--whiteColor);
    margin-bottom: 20px;
}

.aside-heade-departure {
    padding-bottom: 5px;
    font-family: "Roboto-Regular";
    font-size: 24px;
    color: var(--brightGreyText);
}

.aside-heade-arrival {
    padding-right: 34px;
    padding-bottom: 5px;
    font-family: "Roboto-Regular";
    font-size: 24px;
    color: var(--brightGreyText);
    text-align: right;
}