:root {
  --orangeColor: #FFA800;
  --lightOrange: #FCDC9D;
  --darckOrange: #FFA80070;
  --orangeBtnBgHover: #FFCA62;
  --grey: #292929;
  --brightGreyText: #E5E5E5;
  --lightGrey: #928F94;
  --mediumGrey: #C4C4C4;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --darckGrey: #2D2B2F;
  --mainBgColor: #F7F5F9;
  --mediumDarckGrey: #3E3C41;
  --mediumGrayBg: #E4E0E9;
  --errorColor: rgba(255, 61, 0, 0.8);
  --errorBorderColor: rgba(255, 61, 0, 0.76);
  --greenColorSuccess: #B2F6A1;
  --lightGreyBgHeader: #F9F9F9;
  --brightGreyBg: #F4F3F6;
  --headerModalBg: #FF3D0061;
}

body,
p,
h1,
h2,
h3,
h4,
ul {
  padding: 0;
  margin: 0;
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.test {
  border: 1px solid #f00;
}

.container {
  max-width: 1404px;
  margin: 0 auto;
}

.container-search-ticket {
  max-width: 1490px;
  margin: 0 auto;
}

h1 {
  position: absolute;
  left: 81px;
  top: 415px;

  font-family: "Roboto-Thin";
  font-size: 72px;
  font-weight: 100;

  color: var(--whiteColor);
  text-transform: none;
}

h2 {
  margin-bottom: 30px;

  font-family: "Roboto-Medium";
  font-size: 36px;

  color: var(--grey);
}

h3 {
  font-family: "Roboto-Medium";
  font-size: 36px;

  color: var(--whiteColor);
}

.right {
  text-align: right;
}



/* Start body */
.light-grey-bg {
  position:relative;
  padding-top: 95px;
  padding-bottom: 122px;
  background-color: var(--mainBgColor);
}



.how-it-worck {
  width: 100%;
  min-height: 575px;
  padding-top: 69px;

  background: url("assets/images/how-it-worck-bg.jpg") no-repeat center;
  background-color: var(--orangeColor);
  background-size: cover;
}

.about-how-it-worck {
  display: flex;
  justify-content: space-between;
}

.more-advantages-btn {
  width: 325px;
  height: 60px;

  font-family: "Roboto-Bold";
  font-size: 24px;
  text-align: center;

  color: var(--whiteColor);
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.our-advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 107px;
  padding-left: 261px;
  padding-right: 255px;
}

.our-advantages p {
  padding-top: 34px;

  font-family: "Roboto-Regular";
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--whiteColor);
}

.ico-advantages {
  width: 226px;

  text-align: center;
}

.reviews {
  padding-top: 152px;
  margin-bottom: 122px;
}

.review-line {
  display: flex;
  gap: 85px;

  padding-top: 33px;

}

.reviews-card {
  flex: 1;
  display: flex;
  gap: 16px;

}

.reviews-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews-title {
  font-family: "Roboto-Medium";
  font-size: 24px;
  line-height: 28px;

  color: var(--blackColor);
}

.reviews-text {
  padding-top: 18px;

  font-family: "Roboto-Light-Italic";
  font-size: 18px;
  line-height: 21px;

  color: var(--lightGrey);
}

.reviuws-sliders-btn {
  display: flex;
}

.slider-dotted {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 137px;
}

.slide-dotted {
  width: 19px;
  height: 19px;
  margin-left: 10px;

  border-radius: 50%;
  background-color: var(--brightGreyText);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.activeSlide {
  background-color: var(--mediumGrey);
}



/* End main-page */

/* Start select-train */






/* Start Brad crumbs */

.brad-crumbs {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 35px;
}

.first-page,
.page-brad-crumbs,
.last-page {
  padding: 20px 26px 20px 33px;

  font-family: "Roboto-Bold";
  font-size: 30px;
  color: var(--lightGrey);

  border-radius: 5px;
  border: 2px solid var(--mediumGrey);
  cursor: pointer;
}

.brad-crumbs-active {
  background-color: var(--orangeColor);
  color: var(--whiteColor);

  border: 2px solid var(--orangeColor);
}

.brad-crumbs-hover {
  color: var(--orangeColor);
  border: 2px solid var(--orangeColor);
}

/* End select-train */

/* Strat page select-seat */

.header-select-seat {
  margin-bottom: 48px;

  font-family: "Roboto-Medium";
  font-size: 30px;
  color: var(--grey);
  text-transform: uppercase;
}



/* Start  Passengers page */

.body-passengers-cards {
  display: flex;
  flex-direction: column;
  gap: 44px;
}


/* Start Passenger Card */

.select-passengers-card {
  width: 960px;

  background: var(--whiteColor);
  border: 1px solid var(--mediumGrey);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.header-passengers-card {
  display: flex;
  align-items: center;
  height: 107px;

  background: #F9F9F9;
  border-bottom: 1px dashed var(--lightGrey);
}

.ico-roll-up-card {
  padding-left: 23px;
  cursor: pointer;
}

.header-text-card-passengers {
  padding-left: 16px;

  font-family: "Roboto-Regular";
  font-size: 30px;
  color: var(--grey)
}

.close-passengers-card {
  margin-left: auto;
  padding-right: 40px;

  font-size: 30px;
  color: var(--lightGrey);

  cursor: pointer;
}

.select-type-person {
  padding-left: 36px;
  padding-top: 38px;
  margin-bottom: 45px;
}

.select-type-person>select {
  width: 280px;
  height: 50px;

  font-family: "Roboto-Regular";
  font-size: 24px;
  color: var(--grey);

  border: 1px solid var(--lightGrey);
  border-radius: 5px;
}

.inputs-personal-data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
}

.inputs-header {
  margin-bottom: 15px;

  font-family: "Roboto-Regular";
  font-size: 16px;
  color: var(--lightGrey);
}

.input-surname,
.input-name,
.input-patronymic {
  display: flex;
  align-items: center;
  width: 280px;
  height: 50px;
  padding-left: 15px;

  font-family: "Roboto-Regular";
  font-size: 24px;
  color: var(--grey);

  background-color: var(--whiteColor);
  border: 1px solid var(--lightGrey);
  border-radius: 5px;
}

.more-personal-data {
  padding-left: 36px;
}

.more-personal-data {
  display: flex;
  align-items: end;
  gap: 35px;
  margin-bottom: 45px;
}

.check-gender {
  display: flex;
  width: 204px;
  height: 50px;

  border-radius: 5px;
  border: 1px solid var(--lightGrey);
}

.gender-radio {
  display: none;
}

.radio-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

  font-family: "Roboto-Black";
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
}

.radio-label-right-border {
  border-right: 1px solid var(--lightGrey);
}

.gender-radio:checked+.radio-label {
  background-color: var(--orangeColor);
}


.input-birthday {
  display: flex;
  flex-direction: column;
}

.birthday-field {
  width: 240px;
  height: 50px;
  padding-left: 20px;

  font-family: "Roboto-Regular";
  font-size: 24px;
  color: var(--grey);

  border: 1px solid var(--lightGrey);
  border-radius: 5px;
}


.checkbox-peculiarities {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 31px;

  font-family: "Roboto-Regular";
  font-size: 18px;
  color: var(--grey);

  border-bottom: 1px dashed var(--lightGrey);
}

.checkbox-peculiarities>input {
  margin-left: 36px;
  width: 28px;
  height: 28px;

  background: var(--whiteColor);
  border: 1px solid var(--lightGrey);
  border-radius: 5px;
}

.personal-id-data {
  display: flex;
  align-items: center;
  gap: 35px;
  padding-left: 35px;
  padding-top: 37px;
  padding-bottom: 33px;
  border-bottom: 1px dashed var(--lightGrey);
}

.personal-id-data input,
.passport-input {
  width: 205px;
  height: 50px;
  padding-left: 20px;

  font-family: "Roboto-Regular";
  font-size: 24px;
  color: var(--grey);

  border: 1px solid var(--lightGrey);
  border-radius: 5px;
}

.passport {
  display: flex;
  gap: 35px;
}



.birth-certificate-select {
  width: 444px;
  height: 50px;

  font-family: "Roboto-Regular";
  font-size: 24px;
  color: var(--grey);

  border: 1px solid var(--lightGrey);
  border-radius: 5px;
}

.input-number-birth-certificate {
  width: 205px;
  height: 50px;
  padding-left: 20px;

  font-family: "Roboto-Regular";
  font-size: 24px;
  color: var(--grey);

  border: 1px solid var(--lightGrey);
  border-radius: 5px;
}

.error-input {
  color: var(--errorColor);
  border: 1px solid var(--errorBorderColor);

}

.warning-error-line {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 119px;

  background: rgba(255, 61, 0, 0.38);
}

.ico-warning {
  padding-left: 24px;
}

.warning-text {
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: var(--grey);
}

.warning-text span {
  font-family: "Roboto-Bold";
}

.next-passenger-line {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 117px;

  padding-right: 31px;
}

.success-verification-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 24px;

  height: 118px;
  background-color: var(--greenColorSuccess);
}

.ico-success-data {
  display: flex;
  align-items: center;

  font-family: "Roboto-Regular";
  font-size: 18px;
  color: var(--whiteColor);
}

.ico-success {
  padding-right: 15px;
}


.btn-next-passenger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 303px;
  height: 52px;

  font-family: "Roboto-Bold";
  font-size: 24px;
  color: var(--grey);

  background-color: var(--whiteColor);
  border: 1px solid var(--grey);
  border-radius: 5px;
  cursor: pointer;
}

.green-bg {
  background: var(--greenColorSuccess);
}

.hidden {
  display: none;
}

.add-passengers-card,
.add-another-passengers {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 26px;
  height: 97px;

  background-color: var(--whiteColor);
  border: 1px solid var(--mediumGrey);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

}

.add-passengers-card-text {
  font-family: "Roboto-Regular";
  font-size: 30px;
  color: var(--grey);
}

.add-another-passengers {
  padding-right: 38px;
  justify-content: space-between;
}

/* End Passenger card */

.btn-next-page {
  margin-top: 102px;
  ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 222px;
  height: 60px;

  font-family: "Roboto-Bold";
  font-size: 24px;
  color: var(--whiteColor);
  text-transform: uppercase;

  background: var(--lightGrey);
  border-radius: 5px;
  border: 0;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:active {
    color: var(--orangeColor);
    border: 1px solid var(--orangeColor);
    background: none;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.active-btn {
  background-color: var(--orangeColor);
}

/* End Paassengers page */

/* Start Payment page */

.payment-card {
  width: 960px;

  background: var(--whiteColor);
  border: 1px solid var(--mediumGrey);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.payment-header {
  display: flex;
  align-items: center;
  height: 107px;
  padding-left: 35px;

  font-family: "Roboto-Regular";
  font-size: 30px;
  color: var(--grey);

  background: var(--lightGreyBgHeader);
  border-bottom: 1px dashed var(--mediumGrey);
}

.inputs-personal-data-payment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 30px;
  margin-bottom: 54px;
}

.inputs-header-payment {
  margin-bottom: 15px;

  font-family: "Roboto-Regular";
  font-size: 16px;
  color: var(--grey);
}

.input-phone-payment {
  padding-left: 35px;
  margin-bottom: 38px;
}

.input-email-payment {
  padding-left: 35px;
  padding-bottom: 88px;
}


.input-phone,
.input-email {
  width: 360px;
  height: 50px;
  padding-left: 15px;

  font-family: "Roboto-Regular";
  font-size: 24px;
  color: var(--mediumGrey);

  border-radius: 5px;
  border: 1px solid var(--lightGrey)
}

.input-email-payment {
  border-bottom: 1px dashed var(--mediumGrey);
}

.payment-method {
  height: 236px;
  padding-left: 35px;
  border-bottom: 1px dashed var(--mediumGrey);
}

.payment-options {
  display: flex;
  align-items: center;
}


.payment-options-inner {
  width: 25%;
  font-family: "Roboto-Bold";
  font-size: 24px;
  color: var(--grey);
}

/* Start Chebox settings */

.checkbox-online-pay {
  display: flex;
  align-items: center;

  padding-top: 50px;
  margin-bottom: 30px;
  font-family: "Roboto-Regular";
  font-size: 24px;
  color: var(--lightGrey);
}

.checkbox-online-pay input[type="checkbox"] {
  display: none;
}

.checkbox-online-pay label {
  position: relative;
  padding-left: 48px;
  cursor: pointer;
  user-select: none;
}

.checkbox-online-pay label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border: 1px solid var(--lightGrey);
  border-radius: 5px;
  transition: all 0.2s;
  background-color: transparent;
}

.checkbox-online-pay input[type="checkbox"]:checked+label::before {
  background-color: var(--whiteColor);
  border-color: var(--orangeColor);
}

.checkbox-online-pay label::after {
  content: "✓";
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--orangeColor);
  font-size: 28px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.2s;
}

.checkbox-online-pay input[type="checkbox"]:checked+label::after {
  opacity: 1;
}

.checked {
  color: var(--orangeColor);
}

/*  End chebox settings */

.cash-payment {
  display: flex;
  align-items: center;
  height: 168px;
  padding-left: 35px;
}

.by-ticket {
  display: flex;
  justify-content: end;
}

.btn-by-ticket {
  width: 323px;
  height: 60px;
  margin-top: 116px;

  font-family: "Roboto-Bold";
  font-size: 24px;
  color: var(--whiteColor);
  text-align: center;
  text-transform: uppercase;

  background-color: var(--orangeColor);
  border-radius: 5px;
  border: 0;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:active {
    color: var(--orangeColor);
    border: 1px solid var(--orangeColor);
    background: none;
    box-shadow: 0px 4px 4px 0px #00000040;  
  }
}

/* End payment page */

/* Start Order confirm page */

.body-order-confirm {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.train-card,
.passengers-card {
  width: 959px;

  background: var(--whiteColor);
  border: 1px solid var(--mediumGrey);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.header-train-card {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 95px;

  font-family: "Roboto-Regular";
  font-size: 30px;
  color: var(--grey);

  border-bottom: 1px solid var(--lightGrey);
}

.card-ticket {
  display: flex;
  background: var(--whiteColor);

}

.btn-change {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
  width: 233px;
  height: 39px;

  font-family: "Roboto-Bold";
  font-size: 24px;
  color: var(--grey);

  background-color: var(--whiteColor);
  border-radius: 5px;
  border: 1px solid var(--grey);
  cursor: pointer;
}

.all-passengers {
  width: 678px;
  padding-top: 31px;
  padding-bottom: 60px;
}

.body-passengers-card {
  display: flex;
}

.passengers-details {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  border-bottom: 1px dashed var(--mediumGrey);
}

.passengers-details:last-child {
  border: 0;
}

.ico-passenger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.ico-passengers-text,
.header-passengers-data {
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: var(--grey);
}

.passengers-data-text {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 45px;
}

.passengers-data-text {
  font-family: "Roboto-Regular";
  font-size: 18px;
  color: var(--lightGrey);
}

.totalt-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 281px;

  border-left: 1px dashed var(--mediumGrey);
}

.full-price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 28px;
  margin-bottom: 28px;
}

.text-full-price {
  font-family: "Roboto-Regular";
  font-size: 30px;
  color: var(--grey);
}

.full-price-inner {
  font-family: "Roboto-Bold";
  font-size: 30px;
  color: var(--grey);
}

.type-payment {
  display: flex;
  height: 146px;
}

.type-payment-inner {
  width: 680px;
  padding-left: 33px;
  padding-top: 44px;

  font-family: "Roboto-Regular";
  font-size: 24px;
  color: var(--grey);


}

.change-payment {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 281px;
  padding-top: auto;

  border-left: 1px solid var(--brightGreyText);
}

.btn-confirm-order {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 123px;
  margin-left: auto;
  width: 323px;
  height: 60px;

  font-family: "Roboto-Bold";
  font-size: 24px;
  color: var(--whiteColor);
  text-transform: uppercase;

  background-color: var(--orangeColor);
  border-radius: 5px;
  border: 0px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:active {
    color: var(--orangeColor);
    border: 1px solid var(--orangeColor);
    background: none;
    box-shadow: 0px 4px 4px 0px #00000040;  
  }
}

/* End OrderConfirm page */


/* Strat Success order page */
.page-bg-success-order {
  background-color: var(--brightGreyBg);
}

.container-success-order {
  width: 1404px;
  margin: 0 auto;

}

.card-success-order {
  margin-top: -210px;
  margin-bottom: 175px;

  background-color: var(--whiteColor);
  border: 1px solid var(--mediumGrey);
}

.header-card-success-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 148px;
  padding-left: 82px;
  padding-right: 79px;

  background-color: var(--whiteColor);
}

.number-order {
  font-family: "Roboto-Bold";
  font-size: 36px;
  color: var(--mediumDarckGrey);
}

.total-price-succeess-order {
  display: flex;
  font-family: "Roboto-Regular";
  font-size: 36px;
  color: var(--lightGrey);

  &>span {
    font-family: "Roboto-Bold";
    font-size: 36px;
    color: var(--mediumDarckGrey);
  }
}

.tickets-staps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 145px;

  height: 312px;

  background-color: var(--brightGreyBg);
}

.ticket-stap {
  width: 155px;
  text-align: center;
}

.ico-stap-ticket {
  margin-bottom: 11px;
}

.ticket-stap-text {
  font-family: "Roboto-Regular";
  font-size: 18px;

  &>span {
    font-family: "Roboto-Medium";
  }
}

.success-order-text {
  padding-left: 205px;
}

.header-success-order-text {
  padding-top: 95px;
  margin-bottom: 51px;

  font-family: "Roboto-Bold";
  font-size: 36px;
  color: var(--grey);
}

.body-success-order-text {
  margin-bottom: 95px;

  font-family: "Roboto-Regular";
  font-size: 24px;
  line-height: 28px;

  color: var(--grey);
}

.ps-success-order-text {
  margin-bottom: 129px;

  font-family: "Roboto-Bold";
  font-size: 24px;

  color: var(--grey);
}

.footer-success-order-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 161px;
  padding-left: 83px;
  padding-right: 78px;

  background-color: var(--orangeColor);
}

.rate-service {

  font-family: "Roboto-Regular";
  font-size: 24px;

  color: var(--grey);
}

.rate-starts {
  display: flex;
  gap: 19px;

  margin-left: 33px;
}

.btn-back-to-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 323px;
  height: 60px;



  font-family: "Roboto-Bold";
  font-size: 24px;
  color: var(--grey);
  text-transform: uppercase;

  background-color: var(--orangeColor);
  border-radius: 5px;
  border: 1px solid var(--mediumDarckGrey);
  cursor: pointer;
}

